.testCard {
  max-width: 310px;
  min-width: 200px;
  min-height: 375px;

  background-color: #ffffff;
  border-radius: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));

  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.testCard img {
  max-width: 290px;
  min-height: 155px;
}

.testCard p {
  font-size: 20px;
  font-family: "Alata";
  font-weight: 500;
  color: #201926;

  padding-top: 20px;
  padding-bottom: 20px;
}

.testCard span {
  font-size: 15px;
  font-family: "Alata";
  font-weight: 500;
  color: #201926;
  padding-bottom: 20px;
}

.testCard button {
  width: 90%;
  max-width: 275px;
  min-width: 90px;
  min-height: 50px;

  border: none;
  border-radius: 10px;

  font-size: 17px;
  font-family: "Alata";
  font-weight: 500;
  color: #713ae0;

  padding: 15px 20px;
  background-color: #eceafb;

  position: absolute;
  bottom: 20px;
}
